* {
  margin: 0;
  padding: 0;
}
:root {
  --header-background: linear-gradient(60deg, rgb(212, 0, 246) 0%, rgba(0,172,193,1) 100%);

}

.main-stop {
  stop-color:  rgba(0,172,193,1)
}
.alt-stop {
  stop-color:  rgb(212, 0, 246);
}
.svg-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.btn {
  padding: 10px;
  display:inline-block;
  color:rgba(255,255,255,0.7);
  background-color:rgba(255,255,255,0.08);
  border-color:rgba(255,255,255,0.2);
  border-style:solid;
  border-width:2px;
  border-radius:0.5rem;
  text-decoration:none;
  transition:color 0.2s, background-color 0.2s, border-color 0.2s
}
.btn:hover {
  color:rgba(255,255,255,0.8);
  text-decoration:none;
  background-color:rgba(255,255,255,0.2);
  border-color:rgba(255,255,255,0.3)
}

.btn+.btn {
  margin-left:1rem
}
header {

  color: #fff;
  padding-top: 10vw;
  padding-bottom: 30vw;
  text-align: center;
}
svg {
  transition: .1s;
}

body {
  text-align: center;
  background: #fff;
  color: #333;
  font-family: 'Ubuntu', sans-serif;
}

main {
  background: linear-gradient(to bottom, #ffffff 0%, #dddee1 100%);
  overflow: hidden;
  padding-bottom: 900px;

}

footer {
  background: #dddee1;
  padding: 5vh 0;
  text-align: center;
  position: relative;
}
